html,
body {
  font-family: "Lato", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}
/*  */
.nav-title,
.nav-link {
  color: #333333;
  font-size: 25px;
}
h2 {
  font-size: 29px;
  color: #333333;
  margin: 24px 0 8px;
}
/* .skill-description */
h3 {
  color: #333333;
  font-size: 15px;
  margin: 0 0 8px 0;
  font-weight: 500;
}

section {
  margin-bottom: 48px;
}

p {
  color: #666666;
  font-size: 15px;
}

/* Personal Info */

.personal-info {
  text-align: center; /* 內容置中 */
}

.avatar-img {
  border-radius: 46px; /* 圓框效果 */
  width: 25%;
}

.name {
  color: #333333;
  font-size: 32px;
  margin: 20px 0;
}

.social-media {
  margin-bottom: 20px;
}

.social-media-link {
  color: #999999;
  text-decoration: none; /* 沒有底線 */
  margin: 0 5px;
  font-size: 12px;
}

.social-media-link:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px; /* 內容置中 */
  letter-spacing: 2px; /* 字元間距 */
  color: #ff6600;
}
.description {
  font-size: 20px;
}
/* Skill Section */
.skill_test {
  font-size: 29px;
}
.skill-name {
  border-top: 1px solid #999999;
  padding-top: 15px;
}
.skill-description {
  font-size: 18px;
}
/* Experience Section */
hr {
  border: 0px;
  height: 1px;
  background: #cccccc;
  margin: 20px 0;
}

.company,
.duration_1,
.duration_2,
.duration_3 {
  color: #666666;
  font-size: 12px;
  margin-right: 20px;
}

.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}

/**************************************
FIXED LAYOUT CSS
**************************************/

.wrapper {
  display: flex;
  margin: 50px auto;
}

/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #fff;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
  /*   background-color: #163a59; */

  border: 2px solid;
  box-sizing: border-box;
  min-height: 100px;
  min-width: 160px;
  /*   line-height: 100px; */
}

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven {
    min-width: 200px;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .one {
    width: 100%;
  }
  .two,
  .three,
  .four {
    width: 31%;
  }
  .five,
  .six,
  .seven {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  /*   .test_end {
    display: flex;
    flex-wrap: wrap;
  } */
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .one {
    width: 20%;
    min-height: 400px;
  }
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven {
    position: relative;
    top: 1px;
    width: 25%;
    min-height: 20px;
    max-height: 250px;
  }
  .five,
  .six,
  .seven {
    top: -200px;
    left: 20%;
    max-height: 250px;
  }
}
